<template>
    <div>
        <div v-if="$store.state.user == null">
            <h1>Login</h1>

            <p>Username: <input type="text" v-model="loginData.username" /></p>
        
            <p>Password: <input type="password" v-model="loginData.password" /></p>

            <button @click="doLogin"><i class="fa fa-circle-o-notch fa-spin" v-if="isLoading"> </i>Login</button>
        </div>
        <div v-else>
            <h1>Logout</h1>
            <button @click="doLogout">Logout</button>
        </div>
    </div>
</template>

<script src="./login.ts"></script>
